@CHARSET "ISO-8859-1";

body
{
    font-family: Arial, Sans-Serif;
    font-size: 13px;
}

h1  {
font-size : 125%;
font-family : Helvetica, Arial, sans-serif;
color : blue;
margin-top : 3px;
margin-bottom : 3px;
}


#page
{
}

#header
{
	background: #ccc;
	padding: 8px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: blue; }

.content-item
{
	margin: 30px;
	float: left;
	clear: left;
}

.detailActionContainer {
	display: block;
	clear: both;
	padding-top: 2px;
	padding-left: 10px;
	margin-bottom: 10px;
}


.image
{
	float: left;
	display: inline;	
}

.listDetail
{
	float: right;
}

.detail
{
}

.formButtons {
	display: block;
	clear: both;

	padding-top: 20px;
	padding-left: 20px;
}


.inputField {
	float: left;
	clear: left;

	margin: 4px 5px 0px 5px;
}

.inputField label {
	display: inline-block;
	float: left;
	width: 150px;
	text-align: right;
	margin-right: 5px;
}

.inputField input {
	display: inline-block;
	float: left;
	width: 250px;
}

.inputField select {
	display: inline-block;
	float: left;
	width: 250px;
}

.inputField textarea {
	display: inline-block;
	float: left;
	width: 250px;
}

.sponsor
{
	float: left;
	clear: left;
	padding-right: 10px;
	text-align: left;
}

.sponsors
{
	float: right;
	display: inline;
	display: inline-block;
	clear: left;
	margin-left: 175px;
}

#footer
{
	clear: left;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}

SELECT {
    width: 250px;
    box-sizing: border-box;
}

#shuttle-buttons {
	display: inline;
	float: left;
	margin: 5px;
}


#btnRight, #btnLeft {
	width: 25px;
	clear: both;
}

SECTION {	
    padding: 8px;
    overflow: auto;
}

SECTION > DIV {
    float: left;
    padding: 4px;
}

SECTION > DIV + DIV {	
    width: 40px;
    text-align: center;
}