@CHARSET "ISO-8859-1";

h1  {
font-size : 125%;
font-family : Helvetica, Arial, sans-serif;
color : blue;
margin-top : 10px;
margin-bottom : 10px;
}

#page  {
margin : 50px;
}

SELECT, INPUT[type="text"] {
    width: 160px;
    box-sizing: border-box;
}
SECTION {
    padding: 8px;
    /*background-color: #f0f0f0;*/
    overflow: auto;
}
SECTION > DIV {
    float: left;
    padding: 4px;
}
SECTION > DIV + DIV {
    width: 40px;
    text-align: center;
}